<!DOCTYPE html>
<html xmlns:v="http://www.csii.com.cn/hercules/v" lang="en" v-app="clogin">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>中国民生银行个人网上银行</title>

<!--Meta cluster-->
<meta name="keywords" content="民生银行" /> 
<meta name="description" content="民生银行个人网上银行" />

<!--Favicon & Live Bookmark-->
<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="#" />

<!--CSS-->
<link rel="stylesheet" href="public/css/commonglobal.css?_=1.0.132" media="all" />
<link rel="stylesheet" href="public/css/commonlogin.css?_=1.0.132" media="all" />
<!-- <link rel="stylesheet" href="public/css/commonlogincomp.min.css?_=1.0.132" media="all" /> -->
<style type="text/css">
.logtop .logtop_m ul li {
    display: inline-block;
    float: right;
    padding: 0 15px;
    text-align: right;
    width:auto; 
   
}
</style>
<!--script-->
<SCRIPT language="javascript" for=cryptokitCtrl event=DeviceArrival>
	AutoToSelectStyle();
</SCRIPT>

<SCRIPT language="javascript" for=cryptokitCtrl event=DeviceRemoveComplete>
	setTimeout('AutoToSelectStyle()',500);
	//AutoToSelectStyle();
</SCRIPT>
</head>
<body v-controller="loginCtrl">
<div class="bg_shadow" id="bg_shadow">
</div>

<div class="wrap">
<div class="logtop">
	<div class="logtop_m">
    	<ul>
<!--     	<li><a href="#" onClick="safe()">安全提示</a></li> -->
    	<li><a href="#" onClick="OnLineService()">在线客服</a></li>
        <li><a href="#" onClick="loginWay()">登录指引</a></li>
        <li><a href="#" onClick="comDownload()">常用下载</a></li>
        <li><a href="NBhelper.html" target="_blank">网银助手</a></li>
        <li><a href="#" onClick="OpenAccount()">开立电子账户<span style="font-size:12px; color:#0b7bc2;">(Ⅱ类户)</span></a></li>
        <li><a href="#" onClick="OpenCardOnline()">在线办卡<span style="font-size:12px; color:#0b7bc2;">(Ⅰ类户)</span></a></li>
        </ul>
    </div>
</div> 
<div style="background: url(https://mkt.cmbc.com.cn/advimages/LoginImg.jpg) no-repeat scroll center top transparent;">
  <div class="contentA">
  <div v-show="LoginImgUrl!=''" onclick="window.open('{{LoginImgUrl}}','zxyhWindow');"  style="cursor: pointer;width: 700px;height: 510px;"></div>
<!--   <img src="./public/images/img_04.png">  -->
<!--   <img src="http://197.3.135.87:4114/adimagebb/LoginImg.jpg" onError="this.src='./public/images/img_03.jpg'"> -->
 
  <!--新添温馨提示开始-->
<!--     <div class="wxts" style="display: none;"> -->
<!--    		<div style=" width:90px; padding:0 5px 0 8px; margin-top:60px; font-size:12px; font-family:黑体"><span style="color:#F00">*</span>为了获得更好的使用体验,建议您使用<a href="http://firefox.com.cn/download/" style="color: #0055AA;" target="_blank">Firefox</a>、<a href="http://www.google.cn/intl/zh-CN/chrome/browser/" style="color: #0055AA;" target="_blank">Chrome</a>、<a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie" style="color: #0055AA;" target="_blank">IE9或IE9以上</a>浏览器访问新版网银。</div> -->
<!--         <div class="wxts_gb"  onclick="wxtsSetCookie()"></div> -->
<!--     </div> -->
    <!--新添温馨提示结束-->
    <div class="logo_dlk" style="width: 273px">
<!--     	<a href="javascript:;" onClick="oldPerOpen()" class="tips-box-laowangyin"  style="position:absolute;left:220px;top:30px;color:#0055AA;text-decoration:underline;">我要登录旧版网银</a> -->
      <form class="WellForm">
        <h3>登录个人网上银行</h3>
        <div class="mt12" style="width:270px;">
          <h4>登录名或卡号</h4> 
          <div class="slmorkh">
          <a class="box" href="#" v-click="toSelectStyle()"></a>
          <input type="text" id="writeUserId" v-model="_writeUserId" tabIndex="1" /> 
          </div>
          <div class="slmorkh2">
          <a class="box2" href="#" v-click="toWriteStyle()"></a>
          <div class="WellSelect w02" id="WellSelect"></div> 
          </div>
          <p class=" mt6" id="Customlabel" style="display:none;float:left;"><span style="float:left;font-size:12px; color:#999; font-weight:100">{{Customlabel}}</span></p>
        </div>
        <div class="" style="width:270px;">
         <h4>登录密码</h4> 
         <div style="clear:both;"></div>
          <table style="width: 100%">
            <tr>
                <td>
                     <span id="cLoginPassWord"><span class="loginPassword"></span></span>
                </td>
            </tr>
          </table>
        </div>
        <div  v-show=" TokenShowFlag!=false" style="display:none">
         <div class="mt12" style="width:270px;">
          <h4>验证码</h4> 
        </div>
         <div style="float:left;"><input type="text" value="" tabIndex="3" class="f_04" id="_vTokenName" name="_vTokenName"></div>
          <div style="float:left;margin-left: 6px;"><img id="_tokenImg" name="_tokenImg" style="vertical-align:text-bottom;height:33px;" title="点击刷新" v-click="reloadTokenImg()"></div>
          <div class="login_refresh" v-click="reloadTokenImg()"></div>
         <div style="clear:both;"></div>
        </div>
        <br/>
        <div style="background-color: #f2dede;border-color: #fbeed5 1px solid;display:none;width:240px;padding: 8px;color: #666666;" id="jsonErrorShow">
            <div class="alert-heading"><p>
                <span  id="jsonError"></span>
                </p>
            </div>
        </div>
        <input type="button" name="button" class="anniucss_login" id="loginButton" value="登  录" v-click="authenticateUser()"/>
 			<ul class="login_set"> 
 				<li><a href="/pweb/static/loginpswdresetmain.html?loginFlag=C">忘记密码</a></li> 
 				<li class="last"><a href="#" onClick="toRegister()">自助注册</a></li> 
 			</ul> 
      </form>
			<div class="loginNoticeList"  v-show="NoticeShowFlag == true" style="display:none">
				<dl style="width:267px;">
					<dt>公告</dt>
					<dd v-repeat="row in NoticeList">
						<a href="#" v-click="showNotice(row)"><span class="lanzi1">{{row.NoticeName}}</span></a>
					</dd>
				</dl>
			</div>
<!-- 		<div class="loginNoticeList"  v-show="NoticeShowFlag == true" style="display:none"> -->
<!-- 			<div class="ggtop"></div> -->
<!-- 			<div class="ggh"> -->
<!-- 				<ul style="width:267px;"> -->
<!-- 					<li v-repeat="row in NoticeList">*&nbsp;&nbsp;<a href="#" -->
<!-- 						v-click="showNotice(row)"><span class="lanzi1">{{row.NoticeName}}</span></a></li> -->
<!-- 				</ul> -->
<!-- 			</div> -->
<!-- 			<div class="ggbot"></div> -->
<!-- 		</div> -->
	</div>
  </div>
</div>
	<div class="footer">
		<div class="iconCoat">
			<p>客户服务热线 95568 Copyright&copy; 版权所有 中国民生银行</p>
		</div>
	</div>

		<div style="position:absolute; left:0; top:0; " id="passtip">
            <span class="tishi_testE" style="color: #666666"><p>只签约大众版的老网银客户，首次登录新网银时请输入已追加网银的卡号和对应的查询密码进行登录。</p>

<p>既签约大众版又签约贵宾版/商户版的老网银客户，首次登录新网银时请输入贵宾版/商户版的登录密码进行登录。</p>

<p>新网银客户，请输入在线注册或柜台签约时设置的登录密码进行登录。</p></span>
            
            </div>
</div>
<!-- 签名控件升级 -->
<div class="tips-box cspupdate" style="display:none;">
  <div class="tips-box-n">
    <div class="tips-box-n-h"><span>您需要安装网银安全控件</span></div>
    <div class="tips-box-n-n">
      <div class="tips-box-n-n-n" style="padding: 35px 20px 35px 130px;">
      <div class="tips-step1"><span style="float:left; margin-right:10px;">第一步</span><span style="float:left; margin-right:10px;">下载安全控件并安装</span><a onClick="downloadCsp()"style="float:left;">下载控件</a></div>
      <div class="tips-step1" style="margin-top:5px;"><span style="float:left; margin-right:10px;">第二步</span><span style="float:left;">安装完成后，刷新或关闭浏览器。</span></div>
      <div class="tips-step2" style="margin-top:5px;">遇到问题？<a href="#" onClick="downloadHelpWorld()"><span class="lanzi1">点击这里</span>。</a></div>
<!--       <div class="tips-step2 chromeTips" style="display:none;margin:15px 0 0 0px; line-height:24px; font-size:12px; color:#666;background:url(images/tishi.png) no-repeat left 5px; padding-left:20px;"> -->
<!--       		<span style="color: #FF6600;" >您所使用的是谷歌浏览器，如安装控件遇到问题，</span><a onClick="chromeHelper()" ><span class="lanzi1">点击这里</span></a> </div> -->
<!--       </div> -->
	</div>
  </div>
  		<div class="tips-step5 chromeTips"
			style="display:none;width: 100%; height: 44px; line-height: 44px; background-color: #f3f3f3;">
			<span style="float: left; margin-top: 6px; margin-left: 80px;">
				<img height="32" src="images/guge.png">
			</span> <span style="color: #666; float: left; margin-left: 5px;">Chrome浏览器不支持网银安全控件，请使用其他浏览器登录。</span>
		</div>
</div>
</div>
<!-- U宝驱动升级 -->
<div class="tips-box ubaoupdate" style="display:none;">
  <div class="tips-box-n">
    <div class="tips-box-n-h"><span>您需要安装U宝驱动程序</span><span class="login_guanbi" onClick="closeUbaoUpdate(true);">关闭</span></div>
    <div class="tips-box-n-n">
      <div class="tips-box-n-n-n">
     	<div class="tips-step1" style="margin-top:5px;"><span>请下载并安装最新版本</span></div>
      <div class="tips-step1" style="margin-top:10px;"><a href="#"  onClick="updCsp()" style=" margin-bottom:45px !important;">下 载</a></div>        
  
<!-- 		<p>您的U宝驱动程序不是最新版本，请<a href="#2" onClick="updCsp()"><span class="lanzi1">下载并安装民生网银U宝驱动升级程序</span></a>。</p><br /> -->
<!-- 		<p>为保证您下载的安装程序能够正常运行，请您注意以下几点：</p> -->
<!-- 		<p>*Windows7、VISTA、Windows8操作系统用户烦请您易管理员身份运行安装程序。</p> -->
<!-- 		<p>*如果安装遇到问题，请<a href="#"  onClick="downloadHelpWorld()" ><span class="lanzi1">点击这里</span>。</a></p> -->
<!-- 		<p>*祝您使用愉快，谢谢！</p> -->
      </div>
    </div>
  </div>
</div>
<!-- 登陆指引 -->
<!-- 登录指引 -->
<div class="tips-box zhiyin" style="display:none;">
  <div class="tips-box-n">
    <div class="tips-box-n-h"><span>登录指引</span><span class="login_guanbi">关闭</span></div>
    <div class="tips-box-n-n">
      <div class="tips-box-n-n-n">
<!--       <h2>中国民生银行个人网上银行登录指引</h2> -->
        <p>尊敬的客户：</p>
        <p style=" text-indent:2em; font-weight:bold;">中国民生银行个人网上银行系统升级啦！</p>
        <br>
        <p>欢迎您登录升级版个人网上银行。为确保您正常登录个人网上银行，请在登录时做如下检查。<br>
        1、	成功注册开通个人网上银行。注册开通个人网上银行有两种方式，分别如下：<br>
        （1）登录中国民生银行官网（http://www.cmbc.com.cn）<a href="javascript:;" onClick="toRegister()"><span class="lanzi1">申请注册</span></a><br>
        （2）持卡人本人携带借记卡、活期一本通或信用卡和有效身份证件前往我行网点申请办理。
        <br> <p>（注：原大众版、贵宾版或商户版客户无需重新注册，请直接登录。）<br>
        <p>
         <p>2、登录个人网上银行。登录个人网上银行有两种方式，分别如下：  <br><p>
        （1）手输登录名方式：打开个人网银登录页面后，输入登录名或账号和登录密码登录。<a href="login.html" ><span class="lanzi1">立即登录</span></a><br>
        （2）回显登录名方式：U宝客户可直接插入U宝，系统自动打开登录页面后，自动回显登录名，直接输入登录密码登录。<a href="login.html" target="_self" ><span class="lanzi1">立即登录</span></a></p>
        （3）防伪信息：输入登录名/卡号可进行验证。若显示的相关信息与您预留信息不符，说明您进入的不是民生个人网上银行服务功能，请立即退出，以免造成资金损失。
        <input type="text" v-model="UserIdFW" class="log_text" style="width: 180px" placeholder="请输入登录名/卡号进行验证"></input> <span class="lanzi1" id="showFWmsg">验证防伪信息</span>
        <p v-if="Customlabel!=null">{{Customlabel}}</p>
        <p> （注：已开通原贵宾版或商户版网银的客户，个人网上银行的登录密码与贵宾版或商户版网银的登录密码相同。未开通原贵宾版或商户版，但开通原大众版的客户， 请使用已追加网银的账号和对应的查询密码登录。） <p>
         <br>
         <p>常见问题：<br>
        1、	没有登录密码。<br>
        答：未开通原贵宾版或商户版，但已开通原大众版的客户，请使用已追加网银的账号和对应的查询密码登录。<a href="login.html" target="_self" ><span class="lanzi1">立即登录</span></a><br>
        2、忘记登录密码。<br>
        答：若您不记得个人网银的登录密码，可点击<a href="/pweb/static/loginpswdresetmain.html?loginFlag=C" ><span class="lanzi1">忘记登录密码</span></a>，根据提示信息重新设置登录密码。</p><br>
        
        <p>温馨提示：<br>
        登录名：登录名由3-32位数字、英文和下划线或组合组成。个人网上银行的登录名默认为您的客户号，个人网上银行和小微网上银行的登录名相同。如您需修改登录名，可在网银设置中进行修改。</p>
        <p>登录密码：登录密码由6-20位数字和字母组合或全为字母组成，字母区分大小写。个人网上银行和小微网上银行的登录密码相同。如您需修改登录密码，可在网银设置中进行修改。</p>
      </div>
    </div>
  </div>
</div>
<!-- 安全提示 -->
<div class="tips-box safety-tips" style="display:none;">
  <div class="tips-box-n">
    <div class="tips-box-n-h"><div class="tips-box-guanbi"></div></div>
    <div class="tips-box-n-n">
      <div class="tips-box-n-n-n">
        <h2>中国民生银行个人网上银行安全提示</h2>
        <h3>为保障网上交易安全，我行特别提醒您采取以下防范措施：</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.登录正确网址。请直接登录民生银行网址：http://www.cmbc.com.cn/,注意识别假冒网站，假冒支付页面，如有
          疑问致电客户服电话：95568。 </p>
        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.妥善保管个人信息，请您妥善保管账号、密码、数字证书和身份证等重要信息，严防泄露给包括银行工作人员
          在内的任何人。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.保管好密码。请将您的网上银行登录密码/交易密码/查询密码/证书密码设置为不同的密码，并定期进行修改。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.保证计算机安全。请您定期更新操作系统，下载安装浏览器安全程序或补丁，使用正版杀毒软件，避免随意下
          载应用软件、打开来历不明的邮件。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.掌握账户资金变动。请您定期查看网上银行办理的转账和支付等交易记录，开通账户信息即时通，随时掌握账
          户资金的变动情况。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6.使用更安全的移动数字证书。建议您使用我行个人网上银行移动证书存储器“U宝”，最大限度的保护账户资金
          的安全。 </p>
           <table width="490" border="0" cellspacing="0" cellpadding="0" align="center">
		  <tr>
		    <td align="center"><div class="login_safetip1" onclick="window.open('http://www.cmbc.com.cn/safe/safe1.shtml','_blank');"></div></td>
		    <td align="center"><div class="login_safetip2" onclick="window.open('http://www.cmbc.com.cn/cmbc_guangao/jidex/note/yzzs.html','_blank');"></div></td>
		  </tr>
		  <tr>
		    <td align="center"><div class="login_safetip3" onclick="window.open('http://www.cmbc.com.cn/safe/fuzhu.shtml','_blank');"></div></td>
		    <td align="center"><div class="login_safetip4" onclick="window.open('http://www.cmbc.com.cn/safe/cjsf.shtml','_blank');"></div></td>
		  </tr>
		</table>
      </div>
    </div>
  </div>
</div>
<!-- 在线杀毒 -->
<div class="tips-box shadu" style="display:none;">
  <div class="tips-box-n">
    <div class="tips-box-n-h" style="_width:589px;"><div class="tips-box-guanbi"></div></div>
    <div class="tips-box-n-n">
     <div class="tips-box-n-n-n" > 
      <p style="font-weight:bold; color:#208889; font-size:13px;">尊敬的客户:</p>
      <br />
            <p style="text-indent:2em; color:#208889">我行现推出中国金融认证中心与国家计算机病毒应急处理中心联合发布的网银在线杀毒工具（江民版）供您使用，请定期使用网银在线杀毒工具进行病毒查杀，以保证您网上银行的使用安全。</p>
        <br />  <p style="text-indent:2em; color:#F00;">提示：</p>
<p style="text-indent:2em; color:#F00;">1.第一次使用时会有少量数据下载，请耐心等候。</p>
<p style="text-indent:2em; color:#F00;">2.如使用过程中IE浏览器提示您需要安装"江民在线杀毒"的ActiveX控件，请点击安装，以保证软件正常使用。</p>
<div style="text-align:center;">
<input type="button" name="button" value="开始在线杀毒" class="input_a1" onClick="window.open('http://online1.jiangmin.com/KVOnline/wangyin/Jm_Wy_Kill.aspx')"/>&nbsp;&nbsp;&nbsp;
          <input type="button" name="button" value="关闭页面" id="shadugb" class="input_a1" >
          
         </div>

      </div>
    </div>
  </div>
</div>
<!-- 常用下载 -->
<div class="tips-box xiazai" style="display:none;">
  <div class="tips-box-n">
    <div class="tips-box-n-h" ><span>常用下载</span><span class="login_guanbi">关闭</span></div>
    <div class="tips-box-n-n">
    <div class="tips-box-n-n-n">
<!--         <h2>中国民生银行个人网上银行常用下载</h2> -->
        <h3 style="margin:10px 0 0 0;">为确保您畅通无阻地使用民生网银，我们会随时更新控件或程序，请根据您的需求选择下载内容：</h3>
    <p style="line-height:25px; margin:20px 0 0 0;">
          <table width="99%" border="0" cellspacing="0" cellpadding="0">
               <tr>
                  <td width="33%" height="25" align="left"><a href="javascript:;" onClick="downLoadCDNStatic('EBankingAssistantInstall.exe')"><span class="lanzi1">网银助手</span></a></a></td>
                  <td width="33%" align="left"><a href="javascript:;" onClick="downLoadStatic('CryPto')"><span class="lanzi1">个人网银控件</span></td>
                  <td width="33%" align="left"> <a href="javascript:;" onClick="downLoadStatic('CSP')"><span class="lanzi1">U宝驱动</span></a></td>
                   </tr>
                    <tr>
                  <td align="left"><a href="javascript:;" onClick="downLoadStatic('certDownLoad')"><span class="lanzi1">证书下载</span></a></td>
                  <td height="25" align="left"> <a href="javascript:;" onClick="downLoadStatic('CmbcFxvtSetup.exe')"><span class="lanzi1">外汇买卖交易控件</span></a></td>
                  <td align="left"><a href="javascript:;" onClick="downLoadStatic('CmbcFxvtSetup.exe')"><span class="lanzi1">纸金银交易控件</span></a></td>
                   </tr>
                   <tr>
                  <td align="left"><a href="javascript:;" onClick="downLoadStatic('CmbcFxvtSetup.exe')"><span class="lanzi1">贵金属现货延期交易控件</span></a></td>
             	 </tr>
        </table>
        </p>
    </div>
    </div>
  </div>
</div>


<!-- 公告 -->
	<div class="tips-box notice" style="display: none;">
		<div class="tips-box-n">
			<div class="tips-box-n-h">
				<span id="noticeClose" class="login_guanbi">关闭</span>
			</div>
			<div class="tips-box-n-n">
			<br/>
				<p align="center"><span style="font-size:18px" id="noticeName"></span> </p>
					<div id="noticeContent" class="noticeContent" ></div>
				<div class="tablebtn" style="text-align:center">
				</div>
				
			</div>
		</div>
	</div>
	
	<!-- 我要登录老网银 -->
<div class="tips-box laowangyin" style="display:none;">
  <div class="tips-box-n">
    <div class="tips-box-n-h"><div class="tips-box-guanbi"></div></div>
    <div class="tips-box-n-n">
      <div class="tips-box-n-n-n">
        <p style="font-size:18px;">旧版网银登录入口暂时提供，取消之前将另行通知，敬请关注。</p>
        <p>
          <input type="button" name="button" value="旧版网银贵宾版" class="input_a1"  style="font-weight:bold; width:128px;" onClick="oldVipPerOpen()"/>&nbsp;&nbsp;&nbsp;
          <input type="button" name="button" value="旧版网银大众版"  class="input_a1" style="font-weight:bold; width:128px;"  onClick="oldPublicPerOpen()"/>&nbsp;&nbsp;&nbsp;
          <input type="button" name="button" value="旧版网银商户版"  class="input_a1" style="font-weight:bold; width:128px;"  onClick="oldBusinessPerOpen()"/>
        </p>
      </div>
    </div>
  </div>
</div>

<script src="javascripts/jq/jquery.min.js?_=1.0.132"></script>
<script src="dist/js/vx.min.js?_=1.0.132"></script>
<script src="javascripts/cfg/config.js?_=1.0.132"></script>
<script src="javascripts/lib/PassGuardCtrl.js?_=1.0.132"></script>
<!-- <script src="javascripts/lib/pweb_login.min.js?_=1.0.132"></script> -->
<script src="javascripts/lib/initCommonLogin.js?_=1.0.132"></script>
<script src="javascripts/lib/_login.js?_=1.0.132"></script>
<script src="javascripts/other/Cryptokit.js?_=1.0.132" ></script>
<script src="javascripts/jq/jquery.bgiframe.min.js?_=1.0.132"></script>
<script src="javascripts/lib/jquery-hcheckbox.js?_=1.0.132"></script>
</body>
</html>
