TD {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
INPUT {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
BODY {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
SELECT {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
.input {
	BORDER-RIGHT: #b3b3b3 1px solid; BORDER-TOP: #b3b3b3 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #b3b3b3 1px solid; BORDER-BOTTOM: #b3b3b3 1px solid; BACKGROUND-COLOR: #ededed
}
.text1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #314294; TEXT-DECORATION: none
}
.text_gg {
	COLOR: #000000; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A.text_gg:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.text_gg:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.text_gg:hover {
	COLOR: #bc0021; TEXT-DECORATION: none
}
.text2 {
	COLOR: #000000; TEXT-DECORATION: none
}
A.text2:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.text2:hover {
	COLOR: #bc0021; TEXT-DECORATION: underline
}
A.text2:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.text3 {
	FONT-SIZE: 12px; COLOR: #7f7f7f; TEXT-DECORATION: none
}
A.text3:link {
	COLOR: #7f7f7f; TEXT-DECORATION: none
}
A.text3:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.text4 {
	COLOR: #000000; TEXT-DECORATION: none
}
A.text4:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.text4:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.menu {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.menu:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.menu:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
P {
	LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
.p {
	LINE-HEIGHT: 300%; TEXT-DECORATION: none
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 150%; TEXT-DECORATION: none
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; TEXT-DECORATION: none
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.h2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.h3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.menu1 {
	FONT-SIZE: 9pt; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.more {
	COLOR: #bc0021; TEXT-DECORATION: none
}
A.more:link {
	COLOR: #bc0021; TEXT-DECORATION: none
}
A.more:hover {
	COLOR: #bc0021; TEXT-DECORATION: underline
}
.text21 {
	FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none
}
.text20 {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A.text20:link {
	FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none
}
A.text20:hover {
	FONT-SIZE: 14px; COLOR: #bc0021; TEXT-DECORATION: underline
}
.text2b {
	COLOR: #000000; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
A.text2b:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.text2b:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.text2b:hover {
	COLOR: #bc0021; TEXT-DECORATION: underline
}
.text2c {
	COLOR: #ffffff; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
A.text2c:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.text2c:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.text2c:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
