@charset "utf-8";
/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.

 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}
::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
/*
 * A better looking default horizontal rule
 */

hr {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
a, button, input { outline-style: none; }
audio, canvas, iframe, img, svg, video { vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea { resize: vertical; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #333333;
  font-family:  "Microsoft yahei","SimHei", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
}
button {
  *font-family:  "Microsoft yahei","SimHei", Helvetica, Arial, sans-serif;
 }
/**/
object {
  font-size: 0px;
  line-height: 0.01%;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #ffa900;
  cursor: pointer;
}
a:hover, a:focus {
  color: #FAD965;
  cursor: pointer;
}
a:focus {
  cursor: pointer;
  outline: 5px auto -webkit-focus-ring-color;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure { margin: 0; }
h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 2.1;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #777777;
  font-weight: normal;
  line-height: 1;
}
h1, h2, h3 {
  margin-bottom: 10px;
  margin-top: 20px;
}
h1 small, h2 small, h3 small { font-size: 65%; }
h4, h5, h6 {
  margin-bottom: 10px;
  margin-top: 10px;
}
h4 small, h5 small, h6 small { font-size: 75%; }
h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

p { margin: 0 0 10px; }
small { font-size: 85%; }
mark {
  background-color: #fcf8e3;
  padding: .2em;
}
ul, ol { margin-top: 0; }
ul ul, ol ul, ul ol, ol ol { margin-bottom: 0; }
dl {
  margin-bottom: 20px;
  margin-top: 0;
}
dt, dd { line-height: 1.42857143; }
dt { font-weight: bold; }
dd { margin-left: 0; }
fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0;
}
legend {
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  color: #333333;
  display: block;
  font-size: 21px;
  line-height: inherit;
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  max-width: 100%;
}

select {
  border: 1px solid #dbdbdb;
  height: 30px;
}

input[type="search"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"], input[type="checkbox"] {
  line-height: normal;
  margin: 4px 0 0;
  margin-top: 1px \9;
}
input[type="file"] { display:inline-block; }
input[type="range"] {
  display: block;
  width: 100%;
}
select[multiple], select[size] { height: auto; }
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
output {
  color: #555555;
  display: block;
  font-size: 14px;
  line-height: 1.42857143;
  padding-top: 7px;
}
input[type="search"] { -webkit-appearance: none; }
input::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
input:-ms-input-placeholder { color: #999999; }
input::-webkit-input-placeholder { color: #999999; }

table { background-color: transparent; }
caption {
  color: #777777;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: left;
}
th { text-align: center; }

.g-container {
  margin-left: auto;
  margin-right: auto;
  width: 992px;
}
/*@media (min-width: 768px) {
  .g-container { width: 750px; }
}
@media (min-width: 992px) {
  .g-container { width: 970px; }
}
@media (min-width: 1200px) {
  .g-container { width: 1170px; }
}*/
.g-iframe {
  border: 0;
  margin: 0 auto;
  width:992px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

/**
  * 标题样式
  */
.h1 { font-size: 30px; }
.h2 { font-size: 24px; }
.h3 { font-size: 20px; }
.h4 { font-size: 18px; }
.h5 { font-size: 16px; }
.h6 { font-size: 14px; }

.h1.bottom,.h2.bottom,.h3.bottom {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.h4.bottom,.h5.bottom,.h6.bottom {
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
}
/*
  * Browser Upgrade Prompt 浏览器更新提示
  */
.browserupgrade {
  position: absolute;
  top: 0;
  z-index:10;
  text-align:center;
  background: #ffca45;
  color: #000;
  width: 100%;
  padding: 0.3em 0;
}
.browserupgrade a {
  color: #000;
}
.browserupgrade a.warningclose {
  position: absolute;
  right: 1em;
}

/*
  * selectric
  */
.selectric-items
{
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
}
/**
  * 按钮组 button
  */

.btn-group {
  text-align: center;
  margin-top: 60px;
  margin-bottom:20px;
}

/**
  * 按钮 button
  */
.btn {
  -moz-user-select: none;
  -ms-touch-action: manipulation;
  -ms-user-select: none;
  -webkit-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  margin-bottom: 0;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
a.btn{ text-decoration: none;}
/*
  * 提交，确认 button
  */
.btn-primary {
  background: url(../img/button-primary.png) no-repeat left center;
  border: none;
  color: #fff;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 160px;
  text-decoration: none;
}
.btn-primary.btn-small {
  width: 80px;
  height: 28px;
  background: url("../img/button-yellow-small.png") no-repeat;
  text-align: center;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
}
.btn-primary.btn-long {
  width: 120px;
  height: 30px;
  background: url("../img/button-yellow-long.png") no-repeat;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  color: #fff;
}
/*交易查询按钮*/
.btn-primary.btn-search{
  width: 120px;
	height: 30px;
  line-height: 30px;
	background: url(../img/button-yellow-long.png);
	border: none;
	color: #fff;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  *display: inline;
  *zoom: 1;
}

/*
  * 取消，返回等 按钮button
  * .btn-primary.btn-small 较小的button
  */
.btn-secondary {
  background: url(../img/button-secondary.png) no-repeat left center;
  border: none;
  color: #fff;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 160px;
  text-decoration: none;
}
.btn-secondary:hover {
  background: url(../img/button-primary.png) no-repeat left center;
}
.btn-secondary.btn-small {
  width: 80px;
  height: 28px;
  background: url(../img/button-gray-small.png) no-repeat left center;
  border: none;
  color: #fff;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
}
.btn-secondary.btn-small:hover {
  background: url(../img/button-yellow-small.png) no-repeat left center;
}
.btn-secondary.btn-long {
  width: 120px;
  height: 30px;
  background: url(../img/button-gray-long.png) no-repeat left center;
  border: none;
  color: #fff;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
}
.btn-secondary.btn-long:hover {
  width: 120px;
  height: 30px;
  background: url(../img/button-yellow-long.png) no-repeat left center;
  border: none;
  color: #fff;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
}
.btn-primary + .btn-primary {
  margin-left: 60px;
}
.btn-primary + .btn-secondary {
  margin-left: 60px;
}
.btn-secondary + .btn-primary{
  margin-left: 60px;
}
.btn-secondary + .btn-secondary {
  margin-left: 60px;
}
a.btn-primary, a.btn-secondary{ text-decoration: none;}
a.btn-primary:hover, a.btn-secondary:hover { color: #fff; }
a.btn-primary:focus, a.btn-secondary:focus { color: #fff; }

.btn-challenge {
  display: inline-block;
  font: inherit;
  border: none;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  padding: 6px 16px;
  background-color: #ffa900;
  border-radius: 4px;
  margin-left: 10px;
  *padding: 2px 16px;
  border-radius: 4px;
}

a.btn-challenge{ text-decoration: none;*padding: 4px 16px;}
a.btn-challenge:hover,a.btn-challenge:focus { color: #fff; }

.btn-primary[disabled], .btn-secondary[disabled], .btn-primary[readonly],.btn-secondary[readonly]{
  background: url(../img/button-secondary.png) no-repeat left center;
  border-radius: 5px;
  opacity: 1;
}
.btn-primary[disabled], .btn-secondary[disabled] { cursor: not-allowed; }


/**
  * 清除浮动
  */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.pager:before,
.pager:after,
.pagination:before
.pagination:after
.row:before,
.row:after,
.page-foot:before,
.page-foot:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.pager:after,
.pagination:after,
.row:after,
.page-foot:after {
  clear: both;
  content: " ";
  display: block;
  height: 0!important;
  visibility: hidden;
}
.clearfix { *zoom: 1; }

/*
 * 元素位置 position  相对，绝对 ，居中
 */
.affix { position: fixed;}
.relative-pos { position: relative; }
.absolute-pos { position: absolute; }
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
  * 内容位置，左右对齐，居中，自动， 字母大小写，字母大写等
  */
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.text-nowrap { white-space: nowrap; }
.text-lowercase { text-transform: lowercase; }
.text-uppercase { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }

/**
  * 浮动
 */
.pull-right { float: right !important; }
.pull-left { float: left !important; }

/**
  * 显示隐藏
  */
.hide { display: none !important; }
.show { display: block !important; }
.hidden { display: none !important; }
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
/**
  * display样式改变
  */
.display-inline { display: inline !important; }
.display-inline-block { display: inline-block !important;*display: inline;*zoom: 1; }

/*
  *面包屑导航,首页
  */
.breadcrumb {
  background-color: #f5f5f5;
  border-radius: 4px;
  list-style: none;
  margin-bottom: 20px;
  padding: 8px 15px;
}
.breadcrumb ul { list-style: none; }
.breadcrumb li {
  display: inline-block;
  *display: inline;
  margin-left: 10px;
  *zoom: 1;
}

/**
  * form 表单
  */
.form-control {
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 100%;
  vertical-align: middle;
  *display: inline;
  *zoom: 1;
}
.form-control:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0;
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder { color: #999999; }
.form-control::-webkit-input-placeholder { color: #999999; }
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #eeeeee;
  opacity: 1;
}
.form-control[disabled], fieldset[disabled] .form-control { cursor: not-allowed; }
textarea.form-control { height: auto; }

.form-inline .form-control {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.form-horizontal .form-control {
  display: block;
  vertical-align: middle;
  width: 100%;
}
.form-horizontal-half .form-control {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}
.form-horizontal-half .selectric-wrapper,.form-horizontal-half select {
  width: 50%;
  display: inline-block;
}

.radio,.checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 12px;
  height: 12px;
  font-size: 0;
  background-color: #fff;
  border: #ffffff;
}
.checkbox-icons {
  display: inline-block;
  border: 1px solid #eee;
  height: 20px;
  width: 20px;
  line-height: 20px;
  vertical-align: middle;
}
.checkbox-icons.icon-unchecked,
.radio-icons .icon-unchecked {
  background-image: none;
}
.checkbox-icons.icon-checked,
.radio-icons .icon-checked {
  background-image: url('../img/check-label-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.centric-form-box {
  display: inline-block;
  width: 100%;
  margin: 6px 0;
  /*padding: 25px 0;*/
}
.centric-form-box div.left {
  display: inline-block;
  padding-right: 20px;
  text-align: right;
  width: 45%;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  position: relative;
}
.centric-form-box div.right {
  display: inline-block;
  padding-left: 10px;
  text-align: left;
  width: 55%;
  height: 40px;
  line-height: 40px;
  position: relative;
  vertical-align: middle;
}
.centric-form-box > div:first-child {
  display: inline-block;
  padding-right: 20px;
  text-align: right;
  width: 45%;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  float: left;
  position: relative;
}
.centric-form-box > div:last-child {
  display: inline-block;
  float: left;
  padding-left: 10px;
  text-align: left;
  width: 50%;
   height: 40px;
  line-height: 40px;
  position: relative;
}
.centric-form-box:before {
  content: " ";
  display: table;
}
.centric-form-box:after {
  clear: both;
}

/*
  * 弹框
  * popup_content 会自动加载，不需要设置
  */
.popup_content {
    border-style: solid;
    border-color: white;
    border-width: 5px;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
  *padding: 10px 10px 0 10px;
}
.popup_align {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  height: 100%;
}
.popupBox {
  text-align: center;
  display: none;
  min-width: 250px;
  z-index: 99;
}
.popupBox .title{
  font-size: 1.2em;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 10px;
  height: 40px;
  line-height: 40px;
  text-align: left;
}
.popupBox .content{
  font-size: 1.1em;
}
.popupBox .buttons{
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.popupBox .btn-primary{
  padding: 8px 33px;
  background-color: #ffa900;
  background-image: none;
  border-radius: 4px;
  height: auto;
  line-height:normal;
  width: auto;
}
.popupBox .btn-secondary{
  padding: 8px 33px;
  background-color: #ddd;
  background-image: none;
  border-radius: 4px;
  height: auto;
  line-height: normal;
  width: auto;
}
.popupBox .btn-secondary:hover {
  background-color: #ffa900;
}
.popupBox .btn-primary + .popupBox .btn-secondary {
  margin-left: 30px;
}
.popupBox .errorInfo {
  color: red;
}
.popupBox .content .form-control{
  width: 50%;
  display: inline-block;
}
.popupBox .protocoltitle{
  font-size: 1.2em;
  border-bottom: 0px solid #eeeeee;
  margin-bottom: 10px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.popupBox .protocolcontent{
  font-size: 1.1em;
  overflow-y:auto;
  overflow-x:hidden;
  width:680px;
  height:260px;
}
/*
  * tip 提示信息
  */
.tipBox {
  border: 0;
}

/*
  * 帮助信息
  */

.page-help { margin: 20px 0;position: relative;display: block; }
.page-help:after {
  content: " ";
  height: 20px;
  display: table;
}
.page-help .title {
  background: url(../img/info.png) no-repeat left center;
  font-size: 16px;
  height: 30px;
  padding: 4px 0 0 30px;
}

.page-help .content {
  margin-top: 10px;
  padding-left: 0;
}
.page-help .content ul { padding-left: 90px; }
.page-help .content ul li {
  padding-top: 5px;
  padding-bottom: 10px;
  list-style:disc;
}

.help-block {
  color: #737373;
  display: block;
  margin-bottom: 10px;
  margin-top: 5px;
}
/* 页面底部的div，增加页面高度*/
.page-foot {
  margin-top: 20px;
}


/**
  *Tab页签
  **/
.tabs {
  width: 100%;
  position: relative;
}
.tabs .tabs-head {
  border-bottom: solid 2px #00c3ac;
  height: 41px;
  list-style: none;
  margin-bottom: 30px;
}
.tabs .tabs-head > li{
  float: left;
  margin-bottom: -1px;
  display: inline-block;
}

.tabs .tabs-head > li a {
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  color: #00c3ac;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  margin-right: 2px;
  text-align: center;
  width: 100px;
  text-decoration: none;
}
.tabs .tabs-head > li a:hover { border-color: #eeeeee #eeeeee #dddddd;text-decoration: none; }
.tabs .tabs-head > li a.active {
  background: #00c3ac;
  color: #fff;
}

.tabs .tabs-head > li span {
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  color: #00c3ac;
  display: inline-block;
  height: 38px;
  background: #00c3ac;
  color: #fff;
  line-height: 38px;
  margin-right: 2px;
  text-align: center;
  width: 100px;
}
.tabs .tabs-head > li p {
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  color: #00c3ac;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  margin-right: 2px;
  text-align: center;
  position: absolute;
}
.tabs .tabs-head > li span.setting{
  float: left;
  width: 20px;
  height: 38px;
  line-height:38px;
  margin-right:-15px;
  background: url(../img/config.png) no-repeat center;
}
.tabs .tabs-head > li.right{
  float: right;
  margin-bottom: -1px;
  position: relative;
}
.tabs .tabs-head > li.right a { border:0; }
.tabs .tabs-head > li.right a:hover { border:0; }

.tabs .tabs-head:before {
  content: " ";
  display: table;
}
.tabs .tabs-head:after {
  clear: both;
}
.tabs .tabs-content {
  margin: 0 auto;
}
.tabs .tabs-content .tab-pane{
  display: none;
}
.tabs .tabs-content .tab-pane.active{
  display: block;
}

/* tabs中的下拉菜单*/
.tabs .tabs-head .dropdown-title{
	border: 0px !important;
	width:86px !important;
	padding-left:10px;
}

.tabs .tabs-head .dropdown-memu{
	width: 100px;
	height: auto;
	background: #f0fbfb;
	position: relative;
	position: absolute;
	right: 0px;
	z-index: 10;
	top: 50px;
	border: 1px solid #e5fbf9;
}
.tabs .tabs-head .dropdown-overlay{
	width: 100px;
	height: 30px;
	position: relative;
}
.tabs .tabs-head .dropdown-memu  ul li{
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
	border:0px !important;
}
.tabs .tabs-head .dropdown-memu ul li:hover
{background-color: #d0f0f0;
}
.tabs .tabs-head .dropdown-memu ul li a{
	height: 30px !important;
	line-height: 30px !important;
	border: 0px !important;
	color:black !important;
	margin-left:0px;
}
.tabs .tabs-head .dropdown-memu .arrow-up{
	display: block;
	width: 0;
	height: 0;
	border-width: 0 13px 10px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	border-bottom-color: #e5fbf9;
	position: absolute;
	top: -10px;
	left: 36px;
}

/**
  * 表格
  */
.table {
  font-size: 14px;
  max-width: 100%;
  width: 100%;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  line-height: 1.42857143;
  padding: 10px 8px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px dotted #f8f8f8;
}

.table > thead > tr > th {
  vertical-align: middle;
  background-color: #f3f3f3;
}

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td { border-top: 0; }
.table .table { background-color: #ffffff; }

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td { padding: 5px; }

.table-bordered { border: 1px solid #dddddd; }
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td { border: 1px solid #dddddd; }
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td { border-bottom-width: 2px; }

.table-striped > tbody > tr:nth-of-type(even) { background-color: #f9f9f9; }

.table-hover > tbody > tr:hover { background-color: #fbf4e4; }
.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th { background-color: #f5f5f5; }
.table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover, .table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr.active:hover > th { background-color: #e8e8e8; }
.table-responsive {
  min-height: 0.01%;
  overflow-x: auto;
}

/* style when only 2 td in tr*/
.table-centre tbody tr td:first-child {
  padding-right: 20px;
  text-align: right;
  width: 45%;
}
.table-centre tbody tr td + td {
    padding-left: 20px;
    text-align: left;
    width: 55%;
}


.table-centre > thead > tr > th, .table-centre > tbody > tr > th, .table-centre > tfoot > tr > th, .table-centre > thead > tr > td, .table-centre > tbody > tr > td, .table-centre > tfoot > tr > td {
  border-bottom: 0;
  line-height: 1.42857143;
  padding: 12px;
  vertical-align: middle;
}
.table-centre tbody tr td.left {
  padding-right: 20px;
  text-align: right;
  width: 45%;
}
.table-centre tbody tr td.right {
  padding-left: 20px;
  text-align: left;
  width: 55%;
}
.table-centre tbody tr td.center {
  text-align: center;
}
/*纯粹左对齐和右对齐*/
.table td.text-left {
  text-align: left;
}
.table td.text-right {
  text-align: right;
}
.table td.text-center {
  text-align: center;
}

.table-in-couples {
  border: 1px solid #ccc;
}
.table-in-couples caption{
  font-size: 18px;
  padding-bottom: 20px;
}
.table-in-couples > tbody > tr > td, .table-in-couples > tbody > tr > td {
    border: 1px solid #ccc;
  text-align: left;
  padding-left: 20px;
}
.table-in-couples td.title {
  background-color: #ddd;
}
/*
  * 分页
  */
.pagination {
  border-radius: 4px;
  display: inline-block;
  *display: inline;
  margin: 20px 0;
  padding-left: 0;
  *zoom: 1;
}
.pagination li { display: inline; }
.pagination li > a, .pagination li > span {
  background-color: #ffffff;
  /*border: 1px solid #dddddd;
  border-radius: 15px;*/
  line-height: 1.42857143;
  padding: 8px 14px;
  position: relative;
  text-decoration: none;

}
.pagination li > span { border: 0; }
.pagination li > a:hover, .pagination li > a:focus {
  background-color: #eeeeee;
  text-decoration: none;
}
.pagination li.previous > a, .pagination li.previous > span { margin-left: 0; }
.pagination li.next > a, .pagination li.next > span { }

.pager {
  list-style: none;
  margin: 20px 0;
  padding-left: 0;
  text-align: center;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.pager li { display: inline; }
.pager li > a {
  text-decoration: none;
}
.pager li > a, .pager li > span {
  background-color: #ffffff;
  /*border: 1px solid #dddddd;
  border-radius: 15px;*/
  padding: 8px 14px;
  line-height: 1.42857143;
}
.pager li > span { border: 0; }
.pager li > a:hover, .pager li > a:focus {
  background-color: #eeeeee;
  text-decoration: none;
}
.pager .next > a, .pager .next > span {  }
.pager .previous > a, .pager .previous > span { }

/*
 * 图形验证码
 */
.v-code-span img {
  border: none;
  *margin-left: 7px;
  *margin-top: -20px;
}
.v-code-error {
  display: inline-block;
  *display: inline;
  height: 18px;
  *height: 24px;
  left: 3px;
  position: relative;
  width: 21px;
  *zoom: 1;
  vertical-align: middle;
}
.v-code-error.right {
  background-image: url('../img/check_right.gif');
  background-repeat: no-repeat;
}
.v-code-error.wrong {
  background-image: url('../img/check_error.png');
  background-position: center center;
  background-repeat: no-repeat;
}

/*
  *短信验证码
  */
a.sms-btn {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background-color: #ffa900;
  background-image: none;
  border: 1px solid transparent;
  border-color: #ffa900;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  margin-bottom: 0;
  margin-left: 10px;
  padding: 4px 17px;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  color: #ffffff;
}
a.sms-btn{ text-decoration: none;}
a.sms-btn:focus, a.sms-btn:active {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a.sms-btn:hover, a.sms-btn:focus {
  background-color: #ff6900;
  border-color: #ff6900;
  text-decoration: none;
}
a.sms-btn:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  outline: 0;
}

div.error { border: 1px dotted red; }
input.error { border: 1px dotted red; }
label.error {
  background: url('../img/check_error.png') no-repeat 0 center;
  display: inline-block;
  line-height: normal;
  text-indent: 18px;
  vertical-align: middle;
  margin: 0 0 0 10px;
  *display: inline;
  *zoom: 1;
  color: red;
}
label.valid {
  padding-left: 16px;
  padding-right: 10px;
  vertical-align: middle;
}
label.error-block {
  background: url('../img/check_error.png') no-repeat 0 center;
  display: inline-block;
  *display: block;
  line-height: normal;
  text-indent: 18px;
  vertical-align: middle;
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 10px;
  color: red;
  height: 20px;
}
/**
  * 密码框错误提示
  */
.pwdError {
  background: url('../img/check_error.png') no-repeat 0 center;
  display: inline-block;
  text-indent: 18px;
  margin-left: 10px;
  color: red;
  *display: inline;
  *zoom: 1;
}

/*
  * 动画 animation
  */
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
     transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
     transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
     transition-timing-function: ease;
}

/*
  * margin
  */
.margin-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.margin-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.margin-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.margin-top-40 {
  margin-top: 40px;
}

/**
    *frame
    */
.iframe {
 width: 100%;
  border: 0;
}

/**
  * ul li
  */
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

/**
  * html some uncommon elements style
  */
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777777;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #ffffff;
  background-color: #333333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  -webkit-box-shadow: none;
          box-shadow: none;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

/*成功页面图片*/
.success_img {
    background: url(../img/success.png) no-repeat;
    width: 82px;
    height: 90px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 15px;
}

/*失败页面图片*/
.error_img {
    background: url(../img/error.png) no-repeat;
    width: 82px;
    height: 110px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 15px;
}

/*
  * 常用颜色
  */
.orange{
    color: #ffa900;
}

.gray{
    color: #999999;
}



/*精准营销*/

.product-recom{
  width: 100%;
  overflow: hidden;
  margin: 60px auto 60px auto
}

.product-recom .title{
  height: 25px;
  line-height: 25px;
  cursor: default;
  margin-bottom: 8px;
}

.product-recom .title .title-icon{
  background: url("../img/recom-thumb.png") no-repeat;
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

.product-recom .product-recom-wrap{
  overflow: hidden;
  margin-top:20px;
}

.product-recom .product-recom-box{
  position: relative;
  width: 317px;
  height: 170px;
  float: left;
  background: url("../img/recom-box.png") no-repeat;
  margin-left: 20px;
}

.product-recom .product-recom-box:first-child{
  margin-left: 0px;
}

.product-recom .product-recom-box .left{
  float: left;
  width: 102px;
  text-align: center;
}

.product-recom .product-recom-box .left img{
  margin: 45px 20px 24px;
}

.product-recom .product-recom-box .left a{
  font-size: 16px;
}

.product-recom .right{
  float: left;
  width: 215px;
  padding-right: 18px;
  *width: 200px;
  *padding-right: 15px;
}

.product-recom .right p{
  font-size: 18px;
  line-height: 18px;
  margin-top: 18px;
}

.product-recom .right .btn-buy{
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/*基金推荐*/

.fund-recom {
	width: 100%;
  overflow: hidden;
  margin: 0 auto 30px auto
}
.fund-recom .title{
	position: relative;
  height: 25px;
  line-height: 25px;
  margin-bottom: 8px;
}
.fund-recom .title .title-icon{
  background: url("../img/recom-thumb.png") no-repeat;
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}
.fund-recom .fund-recom-wrap{
	width: 100%;
    height: auto;
    margin-top: 10px
}
.fund-recom .fund-recom-wrap > div.fund-recom-box{
	padding-top: 20px;
	padding-left: 18px;
	margin-left: 10px;
	display: inline-block;
	width: 315px;
	border: 1px solid #ddd;
  *display: inline;
  *zoom: 1;
  *width: 300px;
}
.fund-recom .fund-recom-box.running{
	margin-left: 0;
	background: url(../img/Recom/sell.png) no-repeat top right;
}
.fund-recom .fund-recom-box.stopping{
	margin-left: 0;
	background: url(../img/Recom/stop.png) no-repeat top right;
}
.fund-recom .fund-recom-box .fund-name{
	width: 230px;
	height: 18px;
	line-height: 18px;
	font-size: 15px;
  font-weight: 200;
}
.fund-recom .fund-recom-box .fund-desp{
	width: 240px;
	height: 14px;
	line-height: 14px;
	margin-top: 12px;
	color: #FFA900;
}
.fund-recom .fund-recom-box .fund-detail{
	position: relative;
	width: 100%;
	height: 112px;
	margin-top: 28px;
}
.fund-recom .fund-recom-box .fund-detail > div{
	display: inline-block;
}
.fund-recom .fund-recom-box .fund-left{
	width: 155px;
	height: 100%;
	font-size: 32px;
	text-align: center;
	color: red;

}
.fund-recom .fund-recom-box .fund-left > span{
	font-size: 18px;
	color: red;
}
.fund-recom .fund-recom-box .fund-left > div{
	color: #999;
	font-size: 14px;
}
.fund-recom .fund-recom-box .fund-right{
	position: absolute;
	right: 0;
	top: 0;
	width: 140px;
	height: 100%;
}
.fund-recom .fund-recom-box .fund-right .value{
	font-size: 14px;
}
.fund-recom .fund-recom-box .fund-right .risk{
	font-size: 12px;
	line-height: 12px;
	color: #ccc;
	margin-top: 14px;
	margin-bottom: 24px;
}


/*常见问题 列表*/
.qa-box {
  background: #fff;
  border: 1px solid #d3d3d3;
  min-height: 360px;
  padding: 20px 0 30px 0;
}
.qa-box .closeBtn {
  background: url(../img/close-big.png) no-repeat center center;
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: -20px;
  top: -17px;
  width: 30px;
  z-index: 99999999;
}
.qa-box .qa-items {
  height: 100%;
  overflow-y: auto;
  padding: 20px 35px 0;
  position: relative;
}
.qa-box .qa-items h5 {
  font-size: 16px;
  color: #ff9500;
  margin-bottom: 0;
  margin-top: 0;
}
.qa-box .qa-items p {
  font-size: 14px;
  margin-bottom: 20px;
  width: 100%;
}



/*打印样式*/
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  body {
    background: none;
    color: #333;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  ul,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  nav,aside {
    display: none;
  }
  article {
    page-break-before: always;
  }
  select {
    background: #fff !important;
  }
  .table {
    border-collapse: collapse !important;
    max-width: 100% !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
  /*打印隐藏*/
   .hidden-print {
    display: none !important;
  }

}
